<div class="container">
    <form #contactForm="ngForm" (submit)="saveData(lname)">
        <p>
            <label>First name : </label>
            <input type="text" #fname="ngModel" name="first_name" id="first_name" [(ngModel)]="contactFormData.firstName" minlength="10">
            <span *ngIf="!fname.valid && (fname.touched==true || fname.dirty== true)">
                <span class="text-danger" *ngIf="fname.control.errors?.['required']">
                    first name is required
                </span>
                <span class="text-danger" *ngIf="fname.errors?.['minlength']">
                    Miminum legth 10
                </span>
            </span>
        </p>
        <p>
            <label>Last name : </label>
            <input type="text" #lname="ngModel" name="last_name" id="last_name" [(ngModel)]="contactFormData.lastName" required maxlength="10" pattern="^[a-zA-Z]+$">

            <span *ngIf="!lname.valid && (lname.touched==true || lname.dirty== true)">
                <span class="text-danger" *ngIf="lname.control.errors?.['required']">
                    last name is required
                </span>
                <span class="text-danger" *ngIf="lname.errors?.['maxlength']">
                    maximum legth 10
                </span>
                <span class="text-danger" *ngIf="lname.errors?.['pattern']">
                   Only string
                </span>
            </span>
        </p>
        <p>
            <label>Mobile number : </label>
            <input type="text" #mobile="ngModel" name="mobile_number" id="mobile_number" [(ngModel)]="contactFormData.mobileNumber" required pattern="^[0-9]*$">

            <span *ngIf="!mobile.valid && (mobile.touched==true || mobile.dirty== true)">
                <span class="text-danger" *ngIf="mobile.control.errors?.['required']">
                    mobile number is required
                </span>
                <span class="text-danger" *ngIf="mobile.errors?.['pattern']">
                   Only Number
                </span>
            </span>
        </p>
        <p>
            <label>Email : </label>
            <input type="text" #email="ngModel" name="email" id="email" [(ngModel)]="contactFormData.email" required>
            <span *ngIf="!email.valid && (email.touched==true || email.dirty== true)">
                <span class="text-danger" *ngIf="email.control.errors?.['required']">
                    email is required
                </span>
            </span>
        </p>
        <p>
            <label>Gender : </label>
            <input type="radio" name="gender" id="gender" value="Male" [(ngModel)]="contactFormData.gender">Male
            <input type="radio" name="gender" id="gender" value="Female" [(ngModel)]="contactFormData.gender">Female
        </p>
        <p>
            <label>Married status : </label>
            <input type="checkbox" name="married_status" id="married_status" [(ngModel)]="contactFormData.marriedStatus">
        </p>
        <p>
            <label>Country : </label>
            <select name="country" id="country" [(ngModel)]="contactFormData.country">
                <option value="">Select</option>
                <option [ngValue]="item.id" *ngFor="let item of countryData"> {{item.name}} </option>
            </select>
        </p>
        <div ngModelGroup="address">
            <p>
                <label>City name : </label>
                <input type="text" name="city_name" id="city_name" [(ngModel)]="contactFormData.address.cityName">
            </p>
            <p>
                <label>State name : </label>
                <input type="text" name="state_name" id="state_name" [(ngModel)]="contactFormData.address.stateName">
            </p>
            <p>
                <label>Pincode : </label>
                <input type="text" name="pin_code" id="pin_code" [(ngModel)]="contactFormData.address.pinCode">
            </p>
        </div>
        <p>
            <!--[disabled]="!contactForm.valid"-->
            <button type="submit" > Save Button</button>
        </p>
    </form>
</div>
